<html>
<head>
<style type="text/css">
  #container {
    max-width: 500px;
    height: 500px;
    margin: 100px;
  }
</style>
</head>
<body>
<div id="container"></div>
<script src="../static/sigma/sigma.min.js"></script>
<script src="../static/sigma/sigma.parsers.json.js"></script>
<script>
//   sigma.parsers.json('https://preview.c9users.io/jmmnn_1/flask/versions/v_2_2_dev/static/data.json', {
  sigma.parsers.json('https://flask-jmmnn-1.c9users.io/data/5000?search=*', {
    container: 'container',
    settings: {
      defaultNodeColor: '#ec5148'
    }
  });

</script>
</body>
</html>